* {
  box-sizing: border-box;
}

/* div{
  border: 1px solid black;
} */
.App{
  padding: 60px;

  display: flex;
  flex-direction: column;
  align-items: center;

}
.Jogo{
  width: 100%;


  display: flex;
  justify-content: space-between;
}
.imgForca{
  width: 400px;
  height: 470px;
}
.botaoInicio{
  width: 200px;
  height: 60px;
  background-color: #27AE60;
  border-radius: 8px;
  color: #ffffff;
  border: none;
  

}
.contBotaoPalavra{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;

  margin: 30px 10px;

}
.letra{
  width: 40px;
  height: 40px;
  margin: 6px;
  border-radius: 3px;

}
.letra:enabled{
  background-color: #E1ECF4;
  color: #39739D;
  border: 1px solid #7AA7C7;


}
.letra:disabled{
  background-color: #9FAAB5;
  border: 1px solid #7AA7C7;
  color: #798A9F;

}
.Letras{
  width: 690px;
  display: flex;
  flex-wrap: wrap;

  margin-top: 70px;
}
h1{
  font-size: 50px;
  color: #ff0000;
}
.verde{
  color: green;
}
.vermelho{
  color: #ff0000;
}
.preto{
  color: black;
}

